body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #3f4850;
}
h2 {
    font-size: 2em;
    margin: 52px 0 40px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
a {
    text-decoration: none;
}
.search-form {
    max-width: 460px;
    display: flex;
    margin: 0 auto 32px;
}
.search-form button {
    outline: none;
    background-color: #438bbd;
    border: none;
    padding: 0px 15px;
    border-radius: 0 0.35em 0.35em 0;
    cursor: pointer;
}
input {
    font-size: 1em;
    width: 100%;
    background-color: #edeff0;
    padding: 10px 15px;
    border: 3px solid #d7dbdf;
    border-right: none;
    border-radius: 0.35em 0 0 0.35em;
    outline: none;
}

.loading {
    margin-top: 180px;
    color: darkgrey;
    oopacity: .3;
}

.main-nav li {
    width: 100%;
    margin-bottom: 1em;
}
.main-nav a {
    display: block;
    background: #438bbd;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
}
.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
    background-color: #275270;
}
.photo-container ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -ms-align-items: flex-start;
    align-items: flex-start;
}
.photo-container ul li {
    width: 220px;
    height: 165px;
    overflow: hidden;
    margin-bottom: 15px;
}
.photo-container ul img {
    width: 100%;
    transform: scale(1.25);
    transition: transform 1.25s;
}
.photo-container li:hover img {
    transform: scale(1.65);
}
.photo-container .not-found {
    width: 100%;
}

.banner {
    font-size: 22px;
    color: darkslategrey;
    margin-top: 4em;
}

/*Spinner configuration */

.ispinner {
    margin: 180px auto;
    position: relative;
    width: 20px;
    height: 20px;

}

.ispinner .ispinner__blade {
    position: absolute;
    left: 7px;
    top: 0;
    width: 30%;
    height: 75%;


    border-radius: 50%/20%;
    animation: iSpinnerBlade 1s linear infinite;
    animation-play-state: paused; }


.ispinner .ispinner__blade:nth-child(1) {
    animation-delay: -1.6666666667s;
    transform: rotate(30deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(2) {
    animation-delay: -1.5833333333s;
    transform: rotate(60deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(3) {
    animation-delay: -1.5s;
    transform: rotate(90deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(4) {
    animation-delay: -1.4166666667s;
    transform: rotate(120deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(5) {
    animation-delay: -1.3333333333s;
    transform: rotate(150deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(6) {
    animation-delay: -1.25s;
    transform: rotate(180deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(7) {
    animation-delay: -1.1666666667s;
    transform: rotate(210deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(8) {
    animation-delay: -1.0833333333s;
    transform: rotate(240deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(9) {
    animation-delay: -1s;
    transform: rotate(270deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(10) {
    animation-delay: -0.9166666667s;
    transform: rotate(300deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(11) {
    animation-delay: -0.8333333333s;
    transform: rotate(330deg) translate(0, -150%); }
.ispinner .ispinner__blade:nth-child(12) {
    animation-delay: -0.75s;
    transform: rotate(360deg) translate(0, -150%); }
.ispinner.ispinner--animating .ispinner__blade {
    animation-play-state: running; }
.ispinner.ispinner--white .ispinner__blade {
    background-color: white; }
.ispinner.ispinner--gray .ispinner__blade {
    background-color: #8c8c8c; }
.ispinner.ispinner--large {
    width: 35px;
    height: 35px; }
.ispinner.ispinner--large .ispinner__blade {
    width: 8.5714285714%;
    height: 25.7142857143%;
    border-radius: 50%/16.67%; }

@keyframes iSpinnerBlade {
    0% {
        opacity: 0.85; }
    50% {
        opacity: 0.25; }
    100% {
        opacity: 0.25; } }

/* End of Spinner configuration */

@media only screen and (max-width: 767px)  {
    body {
        padding-top: 2em;
    }
    .photo-container li {
        margin: auto;
    }
}

@media only screen and (min-width: 768px)  {
    body {
        padding-top: 4em;
    }
    .container {
        max-width: 960px;
        margin: 0 auto 4em;
    }
    .main-nav ul {
        display: flex;
        justify-content: center;
    }
    .main-nav li {
        margin: 10px;
        width: 100px;
    }
}