body {
    text-align: center;
    font-family: Open Sans, sans-serif;
    color: #3f4850;
    margin: 0;
}

h2 {
    font-size: 2em;
    margin: 52px 0 40px
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none
}

.search-form {
    max-width: 460px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin: 0 auto 32px
}

.search-form button {
    outline: none;
    background-color: #006ac3;
    border: none;
    padding: 0 15px;
    border-radius: 0 .35em .35em 0;
    cursor: pointer
}

input {
    font-size: 1em;
    width: 100%;
    background-color: #edeff0;
    padding: 10px 15px;
    border: 3px solid #d7dbdf;
    border-right: none;
    border-radius: .35em 0 0 .35em;
    outline: none
}

.main-nav a {
    display: block;
    background: #006ac3;
    border-radius: 3px;
    padding: 5px;
    color: #fff
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
    background-color: #275270
}

.main-nav li {
    width: 100%;
    margin-bottom: 1em
}

/* Start of image gallery styles */

.photo-container .photosHolder {
    max-width: 1000px;
    min-width: 320px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-gap: 2px;
    -ms-grid-columns: minmax(100px, 1fr) 2px minmax(100px, 1fr);
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-rows: 250px 150px;
}

@media (min-width: 576px) {
    .photo-container .photosHolder {
         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
/* End of image gallery styles */

.loadMore {
    margin-top: 94px;
    background: #DE1993;
    height: 40px;
    width: 70%;
    border-radius: 3px;
    color: white;
    max-width: 642px;
    font-size: 22px;
    outline: none;
    border: none;
}

.loadMore:hover {
    cursor: pointer;
}


/* Overlay configuration */

#imageLink {
    display: block !important;
    height: 0 !important;
    width: 0 !important;
}

.photo-container .photosHolder img {
    z-index: -100;
    position: relative;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.overlayContainer {
    position: relative;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0, .5);
    height: 120px;
}

.text {
    display: block;
    color: white;
    font-weight: bolder;
    padding: 0 0 0 3px;
    margin: 0;
}
/* End of overlay configuration */

svg {
    padding-right: 3px;
}

.photo-container .not-found {
    width: 100%
}

.banner {
    font-size: 22px;
    color: #2f4f4f;
    margin-top: 4em
}

/* Spinner configuration */
.ispinner {
    margin: 130px auto;
    position: relative;
    width: 20px;
    height: 20px;
}

.ispinner .ispinner__blade {
    position: absolute;
    left: 7px;
    top: 0;
    width: 30%;
    height: 75%;
    border-radius: 50%/20%;
    -webkit-animation: iSpinnerBlade 1s linear infinite;
    animation: iSpinnerBlade 1s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.ispinner .ispinner__blade:first-child {
    -webkit-animation-delay: -1.6666666667s;
    animation-delay: -1.6666666667s;
    -webkit-transform: rotate(30deg) translateY(-150%);
    -ms-transform: rotate(30deg) translateY(-150%);
    transform: rotate(30deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(2) {
    -webkit-animation-delay: -1.5833333333s;
    animation-delay: -1.5833333333s;
    -webkit-transform: rotate(60deg) translateY(-150%);
    -ms-transform: rotate(60deg) translateY(-150%);
    transform: rotate(60deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(3) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-transform: rotate(90deg) translateY(-150%);
    -ms-transform: rotate(90deg) translateY(-150%);
    transform: rotate(90deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(4) {
    -webkit-animation-delay: -1.4166666667s;
    animation-delay: -1.4166666667s;
    -webkit-transform: rotate(120deg) translateY(-150%);
    -ms-transform: rotate(120deg) translateY(-150%);
    transform: rotate(120deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(5) {
    -webkit-animation-delay: -1.3333333333s;
    animation-delay: -1.3333333333s;
    -webkit-transform: rotate(150deg) translateY(-150%);
    -ms-transform: rotate(150deg) translateY(-150%);
    transform: rotate(150deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(6) {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s;
    -webkit-transform: rotate(180deg) translateY(-150%);
    -ms-transform: rotate(180deg) translateY(-150%);
    transform: rotate(180deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(7) {
    -webkit-animation-delay: -1.1666666667s;
    animation-delay: -1.1666666667s;
    -webkit-transform: rotate(210deg) translateY(-150%);
    -ms-transform: rotate(210deg) translateY(-150%);
    transform: rotate(210deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(8) {
    -webkit-animation-delay: -1.0833333333s;
    animation-delay: -1.0833333333s;
    -webkit-transform: rotate(240deg) translateY(-150%);
    -ms-transform: rotate(240deg) translateY(-150%);
    transform: rotate(240deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(9) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: rotate(270deg) translateY(-150%);
    -ms-transform: rotate(270deg) translateY(-150%);
    transform: rotate(270deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(10) {
    -webkit-animation-delay: -.9166666667s;
    animation-delay: -.9166666667s;
    -webkit-transform: rotate(300deg) translateY(-150%);
    -ms-transform: rotate(300deg) translateY(-150%);
    transform: rotate(300deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(11) {
    -webkit-animation-delay: -.8333333333s;
    animation-delay: -.8333333333s;
    -webkit-transform: rotate(330deg) translateY(-150%);
    -ms-transform: rotate(330deg) translateY(-150%);
    transform: rotate(330deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(12) {
    -webkit-animation-delay: -.75s;
    animation-delay: -.75s;
    -webkit-transform: rotate(1turn) translateY(-150%);
    -ms-transform: rotate(1turn) translateY(-150%);
    transform: rotate(1turn) translateY(-150%)
}

.ispinner.ispinner--animating .ispinner__blade {
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.ispinner.ispinner--white .ispinner__blade {
    background-color: #fff
}

.ispinner.ispinner--gray .ispinner__blade {
    background-color: #8c8c8c
}

.ispinner.ispinner--large {
    width: 35px;
    height: 35px
}

.ispinner.ispinner--large .ispinner__blade {
    width: 8.5714285714%;
    height: 25.7142857143%;
    border-radius: 50%/16.67%
}

@-webkit-keyframes iSpinnerBlade {
    0% {
        opacity: .85
    }
    50% {
        opacity: .25
    }
    to {
        opacity: .25
    }
}

@keyframes iSpinnerBlade {
    0% {
        opacity: .85
    }
    50% {
        opacity: .25
    }
    to {
        opacity: .25
    }
}
/* End of Spinner configuration */

@media only screen and (max-width:767px) {
    body {
        padding-top: 2em
    }
    /* Need to be changed */
    /* .photo-container div {
        margin: auto
    } */
}

@media only screen and (min-width:768px) {
    body {
        padding-top: 4em
    }
    /* container contains all HTML elements*/
    .container {
        max-width: 960px;
        margin: 0 auto 9em
    }
    
    .main-nav ul {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
                justify-content: center
    }
    .main-nav li {
        margin: 10px;
        width: 100px
    }
}