body {
    text-align: center;
    font-family: Open Sans, sans-serif;
    color: #3f4850
}

h2 {
    font-size: 2em;
    margin: 52px 0 40px
}

ul {
    list-style-type: none;
    padding-left: 0
}

a {
    text-decoration: none
}

.search-form {
    max-width: 460px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin: 0 auto 32px
}

.search-form button {
    outline: none;
    background-color: #006ac3;
    border: none;
    padding: 0 15px;
    border-radius: 0 .35em .35em 0;
    cursor: pointer
}

input {
    font-size: 1em;
    width: 100%;
    background-color: #edeff0;
    padding: 10px 15px;
    border: 3px solid #d7dbdf;
    border-right: none;
    border-radius: .35em 0 0 .35em;
    outline: none
}

.main-nav a {
    display: block;
    background: #006ac3;
    border-radius: 3px;
    padding: 5px;
    color: #fff
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
    background-color: #275270
}

.main-nav li {
    width: 100%;
    margin-bottom: 1em
}


.photo-container ul {
    line-height: 0;
    -webkit-column-gap: 4px !important;
            column-gap: 4px !important;
    -webkit-column-count: 4;
            column-count: 4;
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: space-between; */
    /* align-items: flex-start; */

}

.photo-container ul li {
    /* width: 220px;
    height: 165px; */
    width: 100% !important;
    height: auto !important;
    /* overflow: hidden; */
    margin-bottom: 4px;
    position: relative;
}

.photo-container ul img {
    width: 100%;
}
@media (max-width: 1000px) {
    .photo-container ul {
    -webkit-column-count: 4;
    column-count:         4;
    }
  }

@media (max-width: 800px) {
    .photo-container ul {
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 600px) {
    .photo-container ul {
    -webkit-column-count: 2;
    column-count:         2;
    }
  }

/* Overlay configuration */
.overlay {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    top: 0px;
    /* z-index: 1000; */
}

.overlayText {
    color: white;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.text {
    display: block;
    color: white;
    font-weight: bolder;
    padding: 0 0 0 3px;
    margin: 0;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* End of overlay configuration */

svg {
    padding-right: 3px;
}


.photo-container .not-found {
    width: 100%
}

.banner {
    font-size: 22px;
    color: #2f4f4f;
    margin-top: 4em
}

/* Spinner configuration */

.ispinner {
    margin: 130px auto;
    position: relative;
    width: 20px;
    height: 20px
}

.ispinner .ispinner__blade {
    position: absolute;
    left: 7px;
    top: 0;
    width: 30%;
    height: 75%;
    border-radius: 50%/20%;
    -webkit-animation: iSpinnerBlade 1s linear infinite;
    animation: iSpinnerBlade 1s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.ispinner .ispinner__blade:first-child {
    -webkit-animation-delay: -1.6666666667s;
    animation-delay: -1.6666666667s;
    -webkit-transform: rotate(30deg) translateY(-150%);
    -ms-transform: rotate(30deg) translateY(-150%);
    transform: rotate(30deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(2) {
    -webkit-animation-delay: -1.5833333333s;
    animation-delay: -1.5833333333s;
    -webkit-transform: rotate(60deg) translateY(-150%);
    -ms-transform: rotate(60deg) translateY(-150%);
    transform: rotate(60deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(3) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-transform: rotate(90deg) translateY(-150%);
    -ms-transform: rotate(90deg) translateY(-150%);
    transform: rotate(90deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(4) {
    -webkit-animation-delay: -1.4166666667s;
    animation-delay: -1.4166666667s;
    -webkit-transform: rotate(120deg) translateY(-150%);
    -ms-transform: rotate(120deg) translateY(-150%);
    transform: rotate(120deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(5) {
    -webkit-animation-delay: -1.3333333333s;
    animation-delay: -1.3333333333s;
    -webkit-transform: rotate(150deg) translateY(-150%);
    -ms-transform: rotate(150deg) translateY(-150%);
    transform: rotate(150deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(6) {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s;
    -webkit-transform: rotate(180deg) translateY(-150%);
    -ms-transform: rotate(180deg) translateY(-150%);
    transform: rotate(180deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(7) {
    -webkit-animation-delay: -1.1666666667s;
    animation-delay: -1.1666666667s;
    -webkit-transform: rotate(210deg) translateY(-150%);
    -ms-transform: rotate(210deg) translateY(-150%);
    transform: rotate(210deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(8) {
    -webkit-animation-delay: -1.0833333333s;
    animation-delay: -1.0833333333s;
    -webkit-transform: rotate(240deg) translateY(-150%);
    -ms-transform: rotate(240deg) translateY(-150%);
    transform: rotate(240deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(9) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: rotate(270deg) translateY(-150%);
    -ms-transform: rotate(270deg) translateY(-150%);
    transform: rotate(270deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(10) {
    -webkit-animation-delay: -.9166666667s;
    animation-delay: -.9166666667s;
    -webkit-transform: rotate(300deg) translateY(-150%);
    -ms-transform: rotate(300deg) translateY(-150%);
    transform: rotate(300deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(11) {
    -webkit-animation-delay: -.8333333333s;
    animation-delay: -.8333333333s;
    -webkit-transform: rotate(330deg) translateY(-150%);
    -ms-transform: rotate(330deg) translateY(-150%);
    transform: rotate(330deg) translateY(-150%)
}

.ispinner .ispinner__blade:nth-child(12) {
    -webkit-animation-delay: -.75s;
    animation-delay: -.75s;
    -webkit-transform: rotate(1turn) translateY(-150%);
    -ms-transform: rotate(1turn) translateY(-150%);
    transform: rotate(1turn) translateY(-150%)
}

.ispinner.ispinner--animating .ispinner__blade {
    -webkit-animation-play-state: running;
    animation-play-state: running
}

.ispinner.ispinner--white .ispinner__blade {
    background-color: #fff
}

.ispinner.ispinner--gray .ispinner__blade {
    background-color: #8c8c8c
}

.ispinner.ispinner--large {
    width: 35px;
    height: 35px
}

.ispinner.ispinner--large .ispinner__blade {
    width: 8.5714285714%;
    height: 25.7142857143%;
    border-radius: 50%/16.67%
}

@-webkit-keyframes iSpinnerBlade {
    0% {
        opacity: .85
    }
    50% {
        opacity: .25
    }
    to {
        opacity: .25
    }
}

@keyframes iSpinnerBlade {
    0% {
        opacity: .85
    }
    50% {
        opacity: .25
    }
    to {
        opacity: .25
    }
}
/* End of Spinner configuration */

@media only screen and (max-width:767px) {
    body {
        padding-top: 2em
    }
    .photo-container li {
        margin: auto
    }
}

@media only screen and (min-width:768px) {
    body {
        padding-top: 4em
    }
    /* container contains all HTML elements*/
    .container {
        max-width: 960px;
        margin: 0 auto 4em
    }
    
    .main-nav ul {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
                justify-content: center
    }
    .main-nav li {
        margin: 10px;
        width: 100px
    }
}